<ion-split-pane contentId="menu-content" when="sm">
  <ion-menu contentId="menu-content" disabled="false">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle autoHide="false">
          <ion-item
            *ngFor="let page of pages"
            button
            [routerLink]="page.url"
            [routerDirection]="page.direction"
          >
            <ion-icon name="{{ page.icon }}" slot="start"></ion-icon>
            <ion-label>{{ page.text }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
