<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-toggle slot="start">
        <ion-button>
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <ion-title
        >Cálculo do IMC
        <ion-icon name="stats-chart"></ion-icon>
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-no-padding">
      <ion-label>Peso</ion-label>
    </ion-item>
    <ion-item>
      <ion-col class="ion-text-center">
        <ion-input
          type="number"
          (input)="calculate($event)"
          [(ngModel)]="weight"
          placeholder="Valor"
          clearInput="true"
          name="weight"
          step="0.1"
        ></ion-input>
      </ion-col>
    </ion-item>
    <br />
    <ion-item class="ion-no-padding">
      <ion-label>Altura</ion-label>
    </ion-item>
    <ion-item>
      <ion-col class="ion-text-center">
        <ion-input
          type="number"
          name="height"
          step="0.01"
          (input)="calculate($event)"
          [(ngModel)]="height"
          placeholder="Valor"
          clearInput="true"
        ></ion-input>
      </ion-col>
    </ion-item>
    <br />
    <ion-item>
      <ion-col class="ion-text-center">
        <ion-input type="text" [(ngModel)]="message" disabled></ion-input>
      </ion-col>
    </ion-item>
    <br />
  </ion-list>
</ion-content>
